@import "reset.css";
@import "header.css";
@import url("https://fonts.googleapis.com/css2?family=Exo:wght@100;200;300;400;500;600;700&family=Kirang+Haerang&display=swap");

* {
	box-sizing: border-box;
}

.container {
	position: relative;
	top: 400px;
	z-index: -1;
}

.content {
	font-size: 50px;
	text-align: center;
}
