* {
	box-sizing: border-box;
}

.nav {
	font-family: "Exo", sans-serif;
	position: fixed;
	top: 0;
	display: flex;
	align-items: center;
	padding: 20px 40px;
	height: 80px;
	width: 100%;
	z-index: 1;
}
.nav-left {
	width: 50%;
}

.nav-right {
	width: 50%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.nav-right__item {
	margin-right: 30px;
}

.profile_img {
	cursor: pointer;
}

.logo {
	font-weight: 600;
	font-size: 2.5rem;
	color: #f2ab39;
	text-shadow: 2px 2px 5px#69491a;
}

.profile_img {
	width: 50px;
	height: 50px;
	border-radius: 25px;
}
.nav-right__item a {
	text-decoration: none;
	font-size: 1.5rem;
	font-weight: 600;
	color: #f2ab39;
	text-shadow: 2px 2px 5px#69491a;
}

.search-bar {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 50%;
	width: 100%;
	transform: translateX(8px);
	z-index: 0;
}
.search-bar__item {
	width: 70%;
	height: 40px;
	border-style: none;
	border-radius: 20px;
	text-align: center;
	font-size: 1.1rem;
	box-shadow: 2px 2px 5px#69491a;
}
.search-bar__btn {
	width: 20%;
	box-shadow: 2px 2px 5px#69491a;
}

input::placeholder {
	color: #69491a;
	font-family: "Exo", sans-serif;
}
.search-bar__btn {
	position: relative;
	left: -35px;
	height: 40px;
	width: 20%;
	border-style: none;
	border-radius: 20px;
	background-color: #ffd954;
	color: #69491a;
	font-size: 1.5rem;
}
.search-bar__icon {
	position: relative;
	left: 40px;
	color: #69491a;
	font-size: 1.2rem;
}

.search-bar__btn:hover {
	cursor: pointer;
}
