@import "./reset.css";
@import "./review.css";
@import url("https://fonts.googleapis.com/css2?family=Exo:wght@100;200;300;400;500;600;700&family=Kirang+Haerang&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cute+Font&display=swap");

* {
	box-sizing: border-box;
}

body,
html {
	position: relative;
	font-family: "Cute Font", cursive;
}

.top_img {
	position: relative;
	top: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 50px;
}
.top_img img {
	width: 250px;
	height: 250px;
	margin-right: 10px;
	border-radius: 20px;
	box-shadow: 5px 5px 5px #bcbcbc;
	cursor: pointer;
}
.more_photo {
	font-size: 20px;
	position: absolute;
	bottom: 20px;
	right: 60px;
	padding: 10px;
	border-radius: 20px;
	background: rgba(0, 0, 0, 0.4);
	transition: all 0.3s;
	cursor: pointer;
}

.more_photo a {
	text-decoration: none;
	width: 70px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #aeaeae;
}
.more_photo:hover {
	background-color: #fed954;
}

section {
	position: relative;
	padding: 40px;
}

.section-wrapper {
	min-width: 1100px;
	display: flex;
	justify-content: space-between;
	padding: 50px;
}
/* section media query */

.title-wrap {
	width: 100%;
	margin-left: 20px;
	margin-right: 50px;
}
.map-section {
	width: 30%;
	min-width: 350px;
	margin-right: 20px;
}
.map-img img {
	width: 350px;
	height: 350px;
	object-fit: cover;
}

.map-modal-wrapper {
	position: relative;
}
.map-modal {
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	top: 0px;
	left: 0px;
	display: none;
	z-index: 1;
}
.map-modal__open {
	display: flex;
}
.map-modal-img img {
	min-width: 700px;
	width: 80%;
	height: 80%;
	object-fit: cover;
	top: 50%;
	left: 50%;
	border-radius: 20px;
	background-color: white;
}

.map-img .map-modal-img {
	cursor: pointer;
}

.map-modal-img {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.title {
	display: flex;
	color: #f2ab39;
}

.title span {
	font-size: 50px;
}

.detail_title {
	color: #f2ab39;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 30px;
	margin-bottom: 10px;
}
.wrate-review {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	color: #f1ab3a;
	transition: all 0.5s ease-in-out;
}

.wrate-review:hover {
	color: #69491a;
}
.wrate-review i {
	font-size: 30px;
	margin-bottom: 10px;
}
.wrate-review div {
	font-size: 25px;
}
.rating {
	color: #bcbcbc;
	margin-left: 10px;
	font-size: 50px;
}
.detail_addr {
	font-size: 25px;
	color: #bcbcbc;
}
.detail_icons span {
	font-size: 30px;
	margin-right: 10px;
}

.cnt {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	font-size: 18px;
	color: #bcbcbc;
	margin-top: 15px;
	padding-bottom: 30px;
	border-bottom: 2px solid #e9e9e9;
}

.cnt span {
	margin-right: 10px;
}
.cnt i {
	margin-right: 5px;
}

.detail_description {
	font-size: 22px;
	margin: 30px 0px;
	color: #bcbcbc;
	padding-bottom: 30px;
	border-bottom: 2px solid #e9e9e9;
}

.info {
	width: 100%;
}

.info tr {
	display: flex;
	align-items: center;
	padding: 10px 0px;
}

.info th {
	width: 120px;
	text-align: left;
}
.info td {
	color: #757575;
	opacity: 0.8;
}

.modal-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1;
	display: none;
}

.modal-open {
	display: flex;
}

.modal .modal-img img {
	width: 100%;
	height: 100%;
	max-width: 700px;
	max-height: 400px;
	object-fit: cover;
	margin: 30px 0px;
	border-radius: 20px;
	/* position: absolute; */
}
.modal {
	/* position: relative; */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 70%;
	height: 90%;
	background: #aeaeae;
	border-radius: 40px;
}

.modal-img__items {
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin-bottom: 30px;
}
.modal-img__items img {
	margin-right: 5px;
	width: 100px;
	height: 100px;
	object-fit: cover;
}

.review-form {
	height: 100%;
	width: 100%;
}
.review-wrap {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.4);
	z-index: 1;
	display: none;
	/* opacity: 0; */
}
.review-open {
	display: flex;
	opacity: 1;
}
.review-text {
	padding: 30px;
	background: white;
	border-radius: 20px;
	width: 300px;
	height: 100%;
}

.review-text form {
	display: flex;
	flex-direction: column;
	align-items: left;
	justify-content: space-around;
}

.label-wrap {
	color: #f1ab3a;
	font-size: 25px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 20px;
}
.radio-label {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	transition: all 0.5s ease-in-out;
	text-align: center;
	width: 80px;
	padding: 10px 0px;
}

.radio-label:hover {
	color: #69491a;
}
.radio-label input[type="radio"] {
	display: none;
}
.radio-label input[type="radio"]:checked + div {
	padding: 10px 0px;
	background: #f1ab3a;
	color: white;
	width: 80px;
	border-radius: 15px;
}

.radio-label i {
	margin-bottom: 10px;
}
.form-item {
	margin-bottom: 20px;
	border: none;
	box-shadow: 3px 3px 5px gray;
	height: 30px;
	font-size: 20px;
	text-align: left;
}

.form-item.form-title {
	width: 100%;
	border-radius: 10px;
}

.form-item.form-text {
	width: 100%;
	height: 200px;
	border-radius: 10px;
}

.form-item.form-submit {
	border-radius: 10px;
	text-align: center;
	background: #fed954;
	color: #69491a;
	transition: all 0.5s ease-in-out;
}

.form-item.form-submit:hover {
	background: #f1ab3a;
}

.delMod-wrap {
	height: 100%;
	display: flex;
	align-items: flex-end;
	font-size: 25px;
}

.delMod-wrap a {
	text-decoration: none;
	color: #69491a;
	padding: 5px;
}

/* 리뷰 css */

table {
	width: 100%;
}
.table-wrapper {
	display: flex;
	margin-bottom: 30px;
	border-bottom: 2px solid #e9e9e9;
	margin-bottom: 30px;
}
.delMod-wrap {
	display: flex;
	justify-content: center;
	align-items: center;
}
.del a {
	margin-right: 10px;
}
.name {
	margin-top: 10px;
}
.table-profile-img {
	width: 10%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.review-content {
	display: flex;
	flex-direction: column;
	width: 100%;
	/* margin-bottom: 10px; */
	padding: 0px 20px;
}
.icon {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 10%;
}
.profile-img img {
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

.regdate {
	margin-bottom: 20px;
	font-size: 20px;
}
.wrap {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.content:hover {
	background: rgba(0, 0, 0, 0.05);
	border-radius: 20px;
}
