@import "./reset.css";
@import "./header.css";
@import "./detail.css";
/* @import "./slider.css"; */
/* @import "./chat-modal.css"; */
@import url("https://fonts.googleapis.com/css2?family=Exo:wght@100;200;300;400;500;600;700&family=Kirang+Haerang&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cute+Font&display=swap");

* {
	box-sizing: border-box;
	list-style: none;
}

html,
body {
	position: relative;
}

main {
	height: 100%;
	top: 100px;
	z-index: 0;
}

.slider-wrapper {
	height: 150px;
	position: relative;
	background-image: url("../image/hg2.jpg");
}

.content-category {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 30px 0px;
}
.content-category__item a {
	margin-right: 15px;
	text-decoration: none;
	font-size: 2rem;
	font-weight: 400;
	color: #f2ab39;
	transition: all 0.3s ease-in-out;
}

.content-category__item a:hover {
	color: #69491a;
}
.content-category__item:hover {
	transform: scale(1.1);
}

.container {
	position: relative;
	top: 0;
	width: 100%;
	display: flex;
	flex-direction: column;
}

.content {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-bottom: 30px;
}

.content-list {
	width: 960px;
	max-height: 300px;
	display: flex;
	align-items: center;
	padding: 25px;
	margin: 0px 30px;
	margin-bottom: 30px;
	border-radius: 50px;
	box-shadow: 5px 5px 10px #bcbcbc;
	transition: all 0.3s ease-in-out;
}

.content-list:hover {
	transform: scale(1.1);
}

.content-list__img {
	width: 220px;
	height: 220px;
	border-radius: 20px;
}

.content-list__text {
	margin: 0px 20px;
	display: flex;
	flex-direction: column;
}

.content-list__text h1 a {
	font-size: 3rem;
	color: #f2ab39;
	text-decoration: none;
}
.content-list__text h3 {
	font-size: 25px;
	color: #bcbcbc;
}

.content-list__cnt {
	font-size: 18px;
	color: #bcbcbc;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
.content-list__cnt span {
	margin-right: 10px;
}

.content-list__cnt i {
	margin-right: 5px;
}

.main-review-item__items {
	padding: 20px 20px;
	display: flex;
	justify-content: space-between;
	text-decoration: none;
	font-size: 20px;
	color: #919191;
	transition: all 0.3s;
	width: 100%;
}

.main-review-content {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.main-review-content p {
	display: block;
	width: 400px;
	white-space: normal;
	overflow: hidden;
	text-overflow: ellipsis;
	line-height: 1.2rem;
	height: 3.6rem;
	text-align: left;
	word-wrap: break-word;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	font-size: 25px;
}
.main-review-item__items:hover {
	background: rgba(0, 0, 0, 0.05);
	border-radius: 20px;
	color: #f1ab3a;
}

.main-review-item__items {
	display: flex;
	justify-content: flex-start;
}
.main-review-item__items .main-review-content {
	max-width: 70%;
	font-size: 25px;
}
.main-review-item__items .main-review-user img {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	cursor: pointer;
}
.main-review-user {
	margin-right: 30px;
}
.main-review-item__items .main-review-icon {
	height: 100%;
	font-size: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	color: #f1ab3a;
}

footer {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: "Exo", sans-serif;
	font-size: 4rem;
	height: 250px;
	color: #f2ab39;
	text-shadow: 2px 2px 5px#69491a;
	background-image: url("../image/hg2.jpg");
	/* top: 150px; */
}

.text_title {
	position: relative;
	margin-bottom: 5px;
	display: flex;
	align-items: center;
}

.text_title a {
	margin-right: 20px;
}
.text_description {
	margin-bottom: 10px;
}
.rating {
	width: 200px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 1rem;
	color: #bcbcbc;
}

.rating__score {
	font-size: 2.5rem;
	color: #bcbcbc;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
.rating__score i {
	color: #f2ab39;
	font-size: 1.8rem;
	margin-left: 10px;
	text-shadow: 3px 3px 5px #69491a;
}

.text_wrap {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	padding: 0px 20px;
}

.more_info__wrap {
	width: 100px;
	text-align: right;
	position: absolute;
	bottom: 0px;
	right: 0px;
	display: flex;
	align-items: center;
	text-align: right;
}
.more_info__wrap a {
	/* color: #69491a; */
	text-decoration: none;
	transition: all 0.4s ease-in-out;
}
.more_info__wrap:hover a {
	color: #f2ab39;
}
.more_info a {
	height: 30px;
	font-size: 20px;
	text-decoration: none;
	color: #bcbcbc;
}
.more_info i {
	margin-left: 10px;
}

.sliders li img {
	width: 100%;
}

.paging-wrapper {
}
.paging {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 35px;
	margin: 20px;
}
.paging i {
	margin: 0px 10px;
}

.paging a {
	text-decoration: none;
	color: #f2ab39;
	margin-right: 5px;
	transition: all 0.5s ease-in-out;
}

.paging a:hover {
	color: #69491a;
	outline: none;
}

.like-btn {
	position: absolute;
	font-size: 15px;
	top: 10px;
	right: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	color: #f1ab3a;
	transition: all 0.5s ease-in-out;
	margin-left: 20px;
}
.like-btn:hover {
	color: #69491a;
}
.like-btn i {
	font-size: 30px;
	margin-bottom: 10px;
}
.like-btn div {
	font-size: 25px;
}
