@import url("https://fonts.googleapis.com/css2?family=Cute+Font&display=swap");

* {
	padding: 0;
	margin: 0;
	font-family: "Cute Font", cursive;
	box-sizing: border-box;
}
html,
body {
	/* background-color: teal; */
	background-image: url("../image/sand.jpeg");
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

#container {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 400px;
	height: 100%;
}

.img-profile-frm {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 25px;
	background-color: white;
	width: 100%;
	height: 400px;
	border-radius: 50px;
	padding: 20px;
	/* box-shadow: 5px 5px 10px #bcbcbc; */
	margin-right: 30px;
}

.img-profile-frm h2 {
	font-size: 50px;
	margin-bottom: 20px;
	color: #f1ab3a;
}

.frm-data {
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
}

.frm-data input {
	text-align: center;
	font-size: 20px;
	border: none;
	width: 200px;
	height: 30px;
	margin-bottom: 10px;
	border-radius: 15px;
	box-shadow: 5px 5px 10px #bcbcbc;
}

.frm-data input:focus {
	outline: none;
}

.frm-input img {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	cursor: pointer;
	box-shadow: 5px 5px 10px gray;
}

.uploadImg {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 30px 0px;
}

.upload-item {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 10px;
	border: none;
	width: 100px;
	height: 30px;
	border-radius: 13px;
	font-size: 18px;
	background-color: #fed954;
	box-shadow: 2px 2px 3px gray;
	transition: all 0.5s ease-in-out;
	color: #69491a;
}

.upload-item:hover {
	background: #69491a;
	color: #f1ab3a;
}
.upload-item label {
	cursor: pointer;
}
.upload-item input {
	display: none;
}

.upload-btn input {
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
	width: 100px;
	height: 30px;
	border-radius: 13px;
	font-size: 18px;
	background-color: #fed954;
	box-shadow: 2px 2px 3px gray;
	cursor: pointer;
	transition: all 0.5s ease-in-out;
	color: #69491a;
}

.upload-btn input:hover {
	background-color: #69491a;
	color: #f1ab3a;
}
.upload-btn input:focus {
	outline: none;
}

.frm-data-submit input {
	font-size: 25px;
	color: #69491a;
	width: 120px;
	height: 30px;
	border: none;
	border-radius: 20px;
	background: #fed954;
	box-shadow: 2px 2px 3px #aeaeae;
	transition: all 0.5s ease-in-out;
	cursor: pointer;
	margin-bottom: 30px;
	margin: 5px;
}

.frm-data-submit input:hover {
	background: #69491a;
	color: #f1ab3a;
}

/* 회원정보 수정 폼 */
.mod-profile-frm {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 25px;
	width: 100%;
	height: 400px;
	padding: 20px;
	background: #ffffff;
	border-radius: 50px;
}

.mod-profile-frm h2 {
	font-size: 50px;
	margin-bottom: 20px;
	color: #f1ab3a;
}
