.img-slider {
	width: 100vw;
}
.img-slider button {
	margin: 20px;
	outline: none;
	font-size: 40px;
	background-color: white;
	color: #f2ab39;
	text-shadow: 2px 2px 5px#69491a;
}

.slider-wrapper {
	position: relative;
	width: 100%;
	height: 200px;
	margin-bottom: 30px;
	/* overflow: hidden; */
	display: flex;
	align-items: flex-end;
	justify-content: center;
	background-image: url("../image/hg2.jpg");
}
.sliders {
	display: flex;
	position: absolute;
	left: 0;
	top: 0;
	transition: left 0.5s ease-out;
}
.sliders img {
	width: 100%;
	height: 300px;
	object-fit: fill;
}
.sliders li:not(:last-child) {
	margin-right: 30px;
}

.controls {
	display: flex;
	justify-content: space-between;
	padding: 20px;
	width: 80%;
}

.controls span {
	border-radius: 50%;
	font-size: 50px;
	color: #f2ab39;
	margin: 0px 10px;
	cursor: pointer;
	opacity: 0.8;
	transition: all 0.5s ease-in-out;
}
.controls span:hover {
	/* color: #69491a; */
	opacity: 1;
	transform: scale(1.3);
}

.controls span.prev {
	right: calc(100%);
}
.controls span.next {
	left: calc(100%);
}
